<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402784153819-o7vbnq8704a84b171htmrvs00hmsgmdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402784153819-o7vbnq8704a84b171htmrvs00hmsgmdl</string>
	<key>API_KEY</key>
	<string>AIzaSyCoEPfKZsyww6Q4icT7lpYbPHHyhFLfU1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>402784153819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Serenidad.Racooni</string>
	<key>PROJECT_ID</key>
	<string>racooni-4448c</string>
	<key>STORAGE_BUCKET</key>
	<string>racooni-4448c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402784153819:ios:06f478f38d10b1003c1cfe</string>
</dict>
</plist>